<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Deposits</title>
  </head>
  <body>
      <ul>
          {% for deposit in object_list %}
              <li>
                  <a href="{% url 'deposit-detail' id=deposit.id %}">
                      Deposit: {{ deposit.deposit }}<br>
                      Term: {{ deposit.term }}<br>
                      Rate: {{ deposit.rate }}<br>
                      Interest: {{ deposit.interest }}<br>
                      <br>
                  </a>

              </li>
          {% endfor %}
      </ul>
  </body>
</html>